@charset "utf-8";
/* CSS Document */
.header ul{width:1000px; display:block; height:92px; line-height:92px; text-align:center;position: absolute;margin-left: 320px;}
.header ul li{float:left; width:200px; display:block;}
.header ul li a{ font-size:18px; color:#6fc1fc;}
.header ul li a:hover{color:#518cb7;}
.header ul li span img{position:relative; top:-4px;}